.RouteContainer {
    background: linear-gradient(135deg, #a927ba 0%, #bd414f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.RouteContainer h1 {
    font-size: 4rem;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000;
}
.RouteIcon {
    font-size: 9rem;
    color: #f5f5f5;
}
.ApiContainer {
    background: linear-gradient(135deg, #a927ba 0%, #bd414f 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.ApiContainer h1 {
    font-size: 2rem;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000;
}
.ApiIcon {
    margin-top: 20px;
    font-size: 6rem;
    color: #f5f5f5;
}
